@model StudentManagementSystem.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*//NOTE:   Here we are using the 'student' object passed in, and showing its property
  //        values to the user.*@
Fist name: @Model.FirstName
<br />
Last name: @Model.LastName
<br />
Id: @Model.Id
<br />

@*//NOTE:   Here we are providing a link to will essentially render 'Edit.cshtml' passing in the 
  //        student Id in order to pul the correct data from the database to get edited.*@
<a href="../edit/@Model.Id">Edit</a>
